html {
    background-image: linear-gradient(to bottom left, rgb(107, 0, 107) , seagreen);
    background-repeat: no-repeat;
}

body {
    margin: 4em;

    background-color: white;
    background-repeat: no-repeat;
    font-size: 24px;

    box-shadow: 4px 4px 5px  black;
}

body img {
    width: 15em;
}
 

main {
    margin: 0 4em;
}

footer{
    clear: both;
    text-align: center;
}

li {
    display: inline;
    list-style-type: none;
}

#div1 img {
    width: 100px;
}
#div1 ul li {
    flex: 1;
    text-align: left;
    padding: 0 1em;
}

.navBar {
    background-color: seagreen;
}

.navBar a {
    color: white;
    display: block;
}

.navBar ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.navBar ul li {
    padding: 1em;
}
.navBar ul li a{
    display: block;
    
}
.navBar ul li:hover{
    background-color: darkseagreen;
}

.col {
    text-align: center;
}
